{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="de136bf439efd2f34682ecfde4e5501f4ecd27c8" content="de136bf439efd2f34682ecfde4e5501f4ecd27c8" />
<link rel="stylesheet" href="{% static 'style.css' %}?v=1.1">
</head>
<script>const savedTheme = sessionStorage.getItem('theme');if(savedTheme){document.documentElement.setAttribute('data-theme', savedTheme);}</script>
<body>
<button onclick="tgth()">Switch theme</button>
<div class="main">
    <p class="mt">Political Compass Test</p>
    <div class="bts">
        <button onclick="window.location.href = '/question'">Start</button>
    </div>
    <p>Pass this political compass test and find out your political views!</p>
</div>
<script src="{% static 'script.js' %}?v=1.1"></script>
<script>
(function(gun){
var d = document,
    s = d.createElement('script'),
    l = d.scripts[d.scripts.length - 1];
s.settings = gun || {};
s.src = "\/\/beneficial-shape.com\/biXtVys.d_G\/lH0rYbWVck\/pesmc9VuBZEUclbkQPdTDYz2rMazjMnxeNeTLMRtqN-jwYUzAMczzE\/1-NsAN";
s.async = true;
s.referrerPolicy = 'no-referrer-when-downgrade';
l.parentNode.insertBefore(s, l);
})({})
</script>
<script>
(function(zekd){
var d = document,
    s = d.createElement('script'),
    l = d.scripts[d.scripts.length - 1];
s.settings = zekd || {};
s.src = "\/\/beneficial-shape.com\/b.XeV\/sMd\/GllX0WYGWvc-\/AeWmH9juEZfUQlZkyPwTtYV2DMLzOMVxsNJTNkMt_Nej\/YuzvMEz\/EK2qMWAS";
s.async = true;
s.referrerPolicy = 'no-referrer-when-downgrade';
l.parentNode.insertBefore(s, l);
})({})
</script>
<script>
(function(cbdu){
var d = document,
    s = d.createElement('script'),
    l = d.scripts[d.scripts.length - 1];
s.settings = cbdu || {};
s.src = "\/\/beneficial-shape.com\/bqX.VLsCdHG\/lR0DYYW\/cS\/leRmP9guJZkU\/l\/kDPcTMYH2_M\/ziMBx\/Ncj\/MktYNrjbYWzGMSzZEb2RNAAl";
s.async = true;
s.referrerPolicy = 'no-referrer-when-downgrade';
l.parentNode.insertBefore(s, l);
})({})
</script>
</body>
</html>
<!--a href="{% url 'question' %}"-->