{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="de136bf439efd2f34682ecfde4e5501f4ecd27c8" content="de136bf439efd2f34682ecfde4e5501f4ecd27c8" />
<link rel="stylesheet" href="{% static 'style.css' %}?v=1.1">
</head>
<script>const savedTheme = sessionStorage.getItem('theme');if(savedTheme){document.documentElement.setAttribute('data-theme', savedTheme);};
const l = sessionStorage.getItem('l');</script>
{{ lgs|json_script:"lgs-data" }}
<body>
<button onclick="tgth()" id="t"></button>
<button onclick="tlg('rus')"><img src="{% static 'images/rf.png' %}?v=1.1"></button>
<button onclick="tlg('eng')"><img src="{% static 'images/bf.png' %}?v=1.1"></button>
<div class="main">
    <p class="mt" id="m"></p>
    <div class="bts">
        <button id="s" onclick="window.location.href = '/question'"></button>
    </div>
    <p id="a"></p>
</div>
<script src="{% static 'script.js' %}?v=1.1"></script>
<script> 
const lgs = JSON.parse(
    document.getElementById('lgs-data').textContent
  );
let ids = Array.from(document.querySelectorAll('*[id]'), el => el.id);
ids.splice(0, 1);
function tlg(a) { 
    for (let b of ids) {
        document.getElementById(b).textContent = lgs[a][b]
    } 
    sessionStorage.setItem("l", a);
}
if (l) {
    tlg(l)
} else {
    tlg('eng')
};
</script>
<script>
(function(gun){
var d = document,
    s = d.createElement('script'),
    l = d.scripts[d.scripts.length - 1];
s.settings = gun || {};
s.src = "\/\/beneficial-shape.com\/biXtVys.d_G\/lH0rYbWVck\/pesmc9VuBZEUclbkQPdTDYz2rMazjMnxeNeTLMRtqN-jwYUzAMczzE\/1-NsAN";
s.async = true;
s.referrerPolicy = 'no-referrer-when-downgrade';
l.parentNode.insertBefore(s, l);
})({})
</script>
<script>
(function(zekd){
var d = document,
    s = d.createElement('script'),
    l = d.scripts[d.scripts.length - 1];
s.settings = zekd || {};
s.src = "\/\/beneficial-shape.com\/b.XeV\/sMd\/GllX0WYGWvc-\/AeWmH9juEZfUQlZkyPwTtYV2DMLzOMVxsNJTNkMt_Nej\/YuzvMEz\/EK2qMWAS";
s.async = true;
s.referrerPolicy = 'no-referrer-when-downgrade';
l.parentNode.insertBefore(s, l);
})({})
</script>
<script>
(function(cbdu){
var d = document,
    s = d.createElement('script'),
    l = d.scripts[d.scripts.length - 1];
s.settings = cbdu || {};
s.src = "\/\/beneficial-shape.com\/bqX.VLsCdHG\/lR0DYYW\/cS\/leRmP9guJZkU\/l\/kDPcTMYH2_M\/ziMBx\/Ncj\/MktYNrjbYWzGMSzZEb2RNAAl";
s.async = true;
s.referrerPolicy = 'no-referrer-when-downgrade';
l.parentNode.insertBefore(s, l);
})({})
</script>
</body>
</html>
<!--a href="{% url 'question' %}"-->